name: CI

on:
    push:
        branches:
            - master
        paths:
            - "**/*.rs"
            - Cargo.toml
            - Cargo.lock
    pull_request:
        branches:
            - master
        paths:
            - "**/*.rs"
            - Cargo.toml
            - Cargo.lock

env:
    CARGO_TERM_COLOR: always

jobs:
    build_and_test:
        name: Rust project - latest
        runs-on: ubuntu-latest
        strategy:
            matrix:
                toolchain:
                    - stable
                    - beta
                    - nightly
        steps:
            - uses: actions/checkout@v4
            - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
            - run: cargo build --verbose
            - run: cargo test --verbose
